<!--The content below is only a placeholder and can be replaced.-->
<header class="container-fluid">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headernavbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="header-image" routerLink=''>
        <i class="fa fa-y-combinator" aria-hidden="true"></i> 
        <i class="fa fa-header" aria-hidden="true"></i><strong id="hacker-header">acker</strong>
      </a>    
    </div>
    
    <div id="headernavbar" class="navbar-collapse collapse">

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="UserName" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-out" aria-hidden="true"></i> SignUp</button>

        <!-- Model -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">User Registration</h4>
              </div>
              
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="">UserName</label>
                    <input type="text" class="form-control" placeholder="UserName" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" placeholder="Password" class="form-control">
                  </div>
                </form>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Register</button>
              </div>

            </div>
          </div>
        </div>
        <!-- <button type="submit" class="btn btn-default"><i class="fa fa-sign-out" aria-hidden="true"></i> SignUp</button> -->
      </form>  
    </div>
  </div>     
</header>

<app-navigation-bar></app-navigation-bar>

<div class="container">
  
  <router-outlet></router-outlet>  

</div>