<main class="row">
	<div class="col-md-8">
		<table class="table table-hover">
			<tr>
				<td>1</td>
				<td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
				<td><a href="#">somelink</a> (<a href="#">website link to list</a>)</td>
				<td class="hello"><i id="like-dislike" class="fa fa-ban" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td></td>
				<td><span> 235 points </span></td>
				<td id="user-details"><a href="#">by tambourine_man</a> 9 hours ago</td>
				<td><span>48 comments</span></td>
			</tr>

			<tr>
				<td>1</td>
				<td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
				<td><a href="#">somelink</a> (<a href="#">website link to list</a>)</td>
				<td><i class="fa fa-ban" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<span> 235 points </span>
				</td>
				<td><span> by tambourine_man 9 hours ago </span></td>
				<td><span>48 comments</span></td>
			</tr>

			<tr>
				<td>1</td>
				<td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
				<td><a href="#">somelink</a> (<a href="#">website link to list</a>)</td>
				<td><i class="fa fa-ban" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<span> 235 points </span>
				</td>
				<td><span> by tambourine_man 9 hours ago </span></td>
				<td><span>48 comments</span></td>
			</tr>

			<tr>
				<td>1</td>
				<td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
				<td><a href="#">somelink</a> (<a href="#">website link to list</a>)</td>
				<td><i class="fa fa-ban" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<span> 235 points </span>
				</td>
				<td><span> by tambourine_man 9 hours ago </span></td>
				<td><span>48 comments</span></td>
			</tr>

			<tr>
				<td>1</td>
				<td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
				<td><a href="#">somelink</a> (<a href="#">website link to list</a>)</td>
				<td><i class="fa fa-ban" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<span> 235 points </span>
				</td>
				<td><span> by tambourine_man 9 hours ago </span></td>
				<td><span>48 comments</span></td>
			</tr>
			<tr>
				<td>1</td>
				<td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
				<td><a href="#">somelink</a> (<a href="#">website link to list</a>)</td>
				<td><i class="fa fa-ban" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<span> 235 points </span>
				</td>
				<td><span> by tambourine_man 9 hours ago </span></td>
				<td><span>48 comments</span></td>
			</tr>

			<tr>
				<td>1</td>
				<td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
				<td><a href="#">somelink</a> (<a href="#">website link to list</a>)</td>
				<td><i class="fa fa-ban" aria-hidden="true"></i></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<span> 235 points </span>
				</td>
				<td><span> by tambourine_man 9 hours ago </span></td>
				<td><span>48 comments</span></td>
			</tr>
		</table>
	</div>

	<div class="col-md-4" id="userInfo">
		<div id="details">
			<h3>User Details</h3>
			<ul>
				<li><strong>User: </strong> {{ userData.about }}</li>
				<li><strong>Karma: </strong> {{ userData.karma}}</li>
				<li>
					<ul>
						<li><a href="#"> Submission</a></li>
						<li><a href="#"> comments</a></li>
						<li><a href="#"> Favorites</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</main>

<app-footer></app-footer>