<table class="table table-striped table-hover">
 <tr>
  	<th>Author Name</th>
  	<th>Descendants</th>
  	<th>Kids</th>
  	<th>Score</th>      	
  	<th>Title and Text</th>
  	<th>Type</th>
  	<th>Url</th>      	
  </tr>

  <tr>
    <td>{{ testResponse.by }}</td>
    <td>{{ testResponse.descendants }}</td>
    <td>{{ testResponse.kids }}</td>
    <td>{{ testResponse.score }}</td>
    <td>{{testResponse.title }} <br />
      <button type="button" class="btn btn-default btn-info" data-toggle="modal" data-target="#myModaltext">Text</button> 
    </td>
    <td>{{ testResponse.type }}</td>
    <td>{{ testResponse.url }}</td>
  </tr>
</table>   
<!-- Model -->  
<div class="modal fade" id="myModaltext" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Job Description</h4>
            </div>
              
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" name="" id="" cols="60" rows="15">{{ testResponse.text }}</textarea>
                 </div>
            </div>
        </div>
    </div>    
</div>